$back-color: #FFF3FE;
$main-color: #606887;
$starbucks-color:#016241;
$case-color:#000000;

.ct_contain{
    width:100%;
    margin:0 auto;
    h2{
        font-size:40px;
        color:$main-color;
        padding-bottom:10px;
        border-bottom:2px solid $main-color;
    }
    ul{
        padding-top:10px;
        li{
            font-size:20px;
            color:$main-color;
            line-height:50px;
            span{
                margin-right: 20px;
            }
        }
    }
}


