$back-color: #FFF3FE;
$main-color: #606887;
$starbucks-color:#016241;
$case-color:#000000;

.pf_contain{
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .pf_prev{
        width:50%; 
        overflow: hidden;
        position: relative;
        border-radius: 10%;
        img{
            width:100%; height:auto;
            position: absolute;
            left:0;
            top:0;
            
            &:not(:nth-of-type(1)){
                display:none;
            }
        }
    }
    .pf_list{
        width:45%;
        h2{
            font-size:40px;
            color:$main-color;
            padding-bottom:10px;
        }
        ul{
            li{
                font-size:24px;
                padding:25px 0;
                border-top:2px solid $main-color;
                a{
                    color:$main-color;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    >b{
                        font-size:20px;
                    }
                    span{
                        display: flex;
                        align-items: center;
                        b{
                            font-size:12px;
                            padding:5px 10px 3px 10px;
                            border-radius: 8px;
                            background:$main-color;
                            margin-left:10px;
                            color:white;
                        }
                    }
                }
            }
        }
    }
}
.pfd_contain{
    width:100%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &.starbucks{
        h2, th{
            color:$starbucks-color;
        }
    }
    &.case{
        h2, th{
            color:$case-color;
        }
    }
    .prev{
        width:600px; height:600px;
        border-radius:50px;
        margin-bottom:50px;
        z-index:2;
        overflow: auto;
        
        &::-webkit-scrollbar {
            display: none;
        }
        img{
            width:100%;
        }
    }

    >div{
        position: relative;
        width:45%;
        h2{
            font-size:40px;
            border-bottom: 2px solid $main-color;
            padding-bottom:10px;
    
        }
    
        table{
            width:100%;
            tbody{
                width:100%;
                tr{
                    width:45%;
                    th{
                        float:left;
                        padding:10px 0 ;
                    }
                    td{
                        float:right;
                        padding:10px 0 ;
                        span{
                            padding:7px 10px 5px 10px;
                            border-radius: 10px;
                            background:#016241; 
                            color:white;
                            font-size:15px;
                            font-weight: lighter;
                        }
                    }
                }
            }
        }

        a{
            position: absolute;
            left:50%;
            transform: translateX(-50%);
            bottom:10%;
            margin-top:50px;
            display: inline-block;
            font-size:20px;
            color:$main-color;
            padding:0px 10px;
            font-weight:lighter;
            line-height:40px;
            &:after{
                display:block;
                content:'';
                border-bottom:2px solid $main-color;
                transform:scaleX(0);
                transition:transform 250ms ease-in-out;
            }
            &:hover:after{
                transform: scaleX(1);
            }
            &:after{
                transform-origin:  0% 50%; ;
            }
        }
    }
    
}
