@charset "UTF-8";
.ab_contain {
  width: 100%;
}
.ab_contain > div h2 {
  font-size: 40px;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 2px solid #606887;
}
.ab_contain > div p {
  margin-top: 30px;
  font-size: 18px;
  line-height: 35px;
}
.ab_contain > div .skill {
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ab_contain > div .skill > div.development {
  width: 50%;
}
.ab_contain > div .skill > div.design {
  width: 30%;
}
.ab_contain > div .skill > div h3 {
  font-size: 18px;
  padding: 5px 20px;
  background-color: #606887;
  color: white !important;
  border-radius: 25px;
  display: inline-block;
}
.ab_contain > div .skill > div > div {
  width: 100%;
  cursor: pointer;
}
.ab_contain > div .skill > div > div div {
  width: 55px;
  height: 85px;
  margin-right: 30px;
  float: left;
  position: relative;
}
.ab_contain > div .skill > div > div img {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.ab_contain a {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  margin-top: 50px;
  display: inline-block;
  font-size: 20px;
  color: #606887;
  padding: 0px 10px;
  font-weight: lighter;
  line-height: 40px;
}
.ab_contain a:after {
  display: block;
  content: "";
  border-bottom: 2px solid #606887;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.ab_contain a:hover:after {
  transform: scaleX(1);
}
.ab_contain a:after {
  transform-origin: 0% 50%;
}

.pf_contain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pf_contain .pf_prev {
  width: 50%;
  overflow: hidden;
  position: relative;
  border-radius: 10%;
}
.pf_contain .pf_prev img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}
.pf_contain .pf_prev img:not(:nth-of-type(1)) {
  display: none;
}
.pf_contain .pf_list {
  width: 45%;
}
.pf_contain .pf_list h2 {
  font-size: 40px;
  color: #606887;
  padding-bottom: 10px;
  border-bottom: 2px solid #606887;
}
.pf_contain .pf_list h2.dark {
  border-bottom: 2px solid #f3f2f9;
  color: #f3f2f9;
}
.pf_contain .pf_list ul li {
  font-size: 24px;
  padding: 25px 0;
}
.pf_contain .pf_list ul li.dark:not(:nth-last-of-type(1)) {
  border-bottom: 2px solid #f3f2f9;
}
.pf_contain .pf_list ul li:not(:nth-last-of-type(1)) {
  border-bottom: 2px solid #606887;
}
.pf_contain .pf_list ul li a {
  color: #606887;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pf_contain .pf_list ul li a > b {
  font-size: 20px;
}
.pf_contain .pf_list ul li a span {
  display: flex;
  align-items: center;
}
.pf_contain .pf_list ul li a span b {
  font-size: 12px;
  padding: 5px 10px 3px 10px;
  border-radius: 8px;
  background: #606887;
  margin-left: 10px;
  color: white !important;
}

.pfd_contain {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pfd_contain.starbucks h2, .pfd_contain.starbucks th {
  color: #008d5e;
}
.pfd_contain.kyobo h2, .pfd_contain.kyobo th {
  color: #125dad;
}
.pfd_contain.monami h2, .pfd_contain.monami th {
  color: #c40f39;
}
.pfd_contain.deers h2, .pfd_contain.deers th {
  color: #FAC249;
}
.pfd_contain.chupachups h2, .pfd_contain.chupachups th {
  color: #f55683;
}
.pfd_contain.case h2, .pfd_contain.case th {
  color: #000000;
}
.pfd_contain.case h2.dark, .pfd_contain.case th.dark {
  color: white;
}
.pfd_contain .prev {
  width: 600px;
  height: 600px;
  border-radius: 50px;
  margin-bottom: 50px;
  z-index: 2;
  overflow: auto;
}
.pfd_contain .prev::-webkit-scrollbar {
  display: none;
}
.pfd_contain .prev img {
  width: 100%;
}
.pfd_contain > div {
  position: relative;
  width: 45%;
}
.pfd_contain > div h2 {
  font-size: 40px;
  border-bottom: 2px solid #606887;
  padding-bottom: 10px;
}
.pfd_contain > div h2.dark {
  border-bottom: 2px solid #f3f2f9;
}
.pfd_contain > div table {
  width: 100%;
}
.pfd_contain > div table tbody {
  width: 100%;
}
.pfd_contain > div table tbody tr {
  width: 45%;
}
.pfd_contain > div table tbody tr th {
  float: left;
  padding: 10px 0;
}
.pfd_contain > div table tbody tr td {
  float: right;
  padding: 10px 0;
  text-align: right;
  line-height: 28px;
}
.pfd_contain > div table tbody tr td span {
  padding: 7px 10px 5px 10px;
  border-radius: 10px;
  background: #016241;
  color: white;
  font-size: 15px;
  font-weight: lighter;
}
.pfd_contain > div div {
  position: absolute;
  bottom: 15%;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.pfd_contain > div div a {
  font-size: 20px;
  color: #606887;
  padding: 0px 10px;
  font-weight: lighter;
  line-height: 40px;
}
.pfd_contain > div div a:after {
  display: block;
  content: "";
  border-bottom: 2px solid #606887;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.pfd_contain > div div a:hover:after {
  transform: scaleX(1);
}
.pfd_contain > div div a:after {
  transform-origin: 0% 50%;
}

.ct_contain {
  width: 100%;
  margin: 0 auto;
}
.ct_contain h2 {
  font-size: 40px;
  color: #606887;
  padding-bottom: 10px;
  border-bottom: 2px solid #606887;
}
.ct_contain h2.dark {
  color: #f3f2f9;
}
.ct_contain ul {
  padding-top: 10px;
}
.ct_contain ul li, .ct_contain ul a {
  font-size: 20px;
  color: #606887;
  line-height: 50px;
}
.ct_contain ul li.dark, .ct_contain ul a.dark {
  color: #f3f2f9;
}
.ct_contain ul li span, .ct_contain ul a span {
  margin-right: 20px;
}

@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  font-family: "LINESeedKR-Bd", "맑은 고딕";
  color: #606887;
}
*.dark {
  color: #f3f2f9;
}

ul,
li {
  list-style: none;
}

body {
  background-color: #FFF3FE;
}
body.dark {
  background: rgb(49, 49, 58);
}

a {
  color: #222;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

header {
  width: 80%;
  max-width: 1500px;
  height: 100px;
  padding-bottom: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
  z-index: 10;
  position: relative;
}
header h1 {
  cursor: pointer;
  height: 50px;
}
header h1 img {
  height: 100%;
}
header .gnb li {
  float: left;
}
header .gnb .moon {
  cursor: pointer;
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-right: 20px;
  position: relative;
}
header .gnb .moon img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 4;
}
header .gnb .menu_icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  position: relative;
  z-index: 10;
  transform: rotate(0deg);
}
header .gnb .menu_icon p,
header .gnb .menu_icon span {
  border: 2px solid #6367a1;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  transition-duration: 0.15s;
}
header .gnb .menu_icon p.dark,
header .gnb .menu_icon span.dark {
  border: 2px solid #f3f2f9;
}
header .gnb .menu_icon span {
  opacity: 0%;
  position: absolute;
  top: 36%;
  left: 38%;
}
header .gnb .menu_list {
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 3;
  overflow: hidden;
}
header .gnb .menu_list ul {
  position: absolute;
  left: 25%;
  top: 30%;
  font-size: 65px;
  width: 100%;
  height: 100%;
}
header .gnb .menu_list ul li {
  cursor: pointer;
  font-stretch: normal;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
header .gnb .menu_list ul li a {
  position: absolute;
  top: -110px;
  color: #606887;
}
header .gnb .menu_list ul li a span {
  font-size: 15px;
  margin-right: 20px;
  font-weight: lighter;
}

#container {
  width: 1200px;
  margin: 50px auto 0 auto;
  position: relative;
  z-index: 2;
}

section {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
section .intro_box {
  position: absolute;
  text-align: center;
  line-height: 70px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
section .intro_box p {
  font-family: "NanumBarunGothic";
  font-size: 40px;
  color: #444444;
  position: relative;
  opacity: 0;
}
section .intro_box p.dark {
  color: #f3f2f9;
}
section .intro_box p:nth-of-type(1) {
  top: -200px;
}
section .intro_box p:nth-of-type(2) {
  bottom: -200px;
}
section .intro_box p img {
  width: 40px;
  vertical-align: middle;
}
section .intro_box p a {
  display: inline-block;
  font-size: 20px;
  color: #606887;
  padding: 0px 10px;
  font-weight: lighter;
  line-height: 40px;
}
section .intro_box p a:after {
  display: block;
  content: "";
  border-bottom: 2px solid #606887;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
section .intro_box p a:hover:after {
  transform: scaleX(1);
}
section .intro_box p a:after {
  transform-origin: 0% 50%;
}
section .back {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}
section .jelly {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
}
section .jelly img {
  position: absolute;
  left: 0;
  top: 0;
}
section .jelly img.dark {
  filter: brightness(0.15);
}
section .jelly img:nth-of-type(1) {
  z-index: 3;
  top: -100%;
  left: 100%;
  width: 40%;
  animation: roll 4.5s alternate infinite ease-in-out;
}
section .jelly img:nth-of-type(2) {
  z-index: 2;
  top: -100%;
  left: -100%;
  width: 15%;
  animation: roll 4.3s alternate infinite;
}
section .jelly img:nth-of-type(3) {
  z-index: 1;
  top: 100%;
  left: -100%;
  width: 40%;
  animation: roll 4.3s alternate infinite;
}
section .jelly img:nth-of-type(4) {
  top: 100%;
  left: 100%;
  width: 20%;
  animation: roll 4.5s alternate infinite;
}
@keyframes roll {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}