.ct_contain {
  width: 80%;
  margin: 0 auto;
}
.ct_contain h2 {
  font-size: 40px;
  color: #606887;
  padding-bottom: 10px;
  border-bottom: 2px solid #606887;
}
.ct_contain ul {
  padding-top: 10px;
}
.ct_contain ul li {
  font-size: 20px;
  color: #606887;
  line-height: 50px;
}
.ct_contain ul li span {
  margin-right: 20px;
}