.pf_contain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pf_contain .pf_prev {
  width: 50%;
  overflow: hidden;
  position: relative;
  border-radius: 10%;
}
.pf_contain .pf_prev img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.pf_contain .pf_prev img:not(:nth-of-type(1)) {
  display: none;
}
.pf_contain .pf_list {
  width: 45%;
}
.pf_contain .pf_list h2 {
  font-size: 40px;
  color: #606887;
  padding-bottom: 10px;
}
.pf_contain .pf_list ul li {
  font-size: 24px;
  padding: 25px 0;
  border-top: 2px solid #606887;
}
.pf_contain .pf_list ul li a {
  color: #606887;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pf_contain .pf_list ul li a > b {
  font-size: 20px;
}
.pf_contain .pf_list ul li a span {
  display: flex;
  align-items: center;
}
.pf_contain .pf_list ul li a span b {
  font-size: 12px;
  padding: 5px 10px 3px 10px;
  border-radius: 8px;
  background: #606887;
  margin-left: 10px;
  color: white;
}

.pfd_contain {
  width: 80%;
  margin: 0 auto;
}
.pfd_contain.pfd_starbucks h2, .pfd_contain.pfd_starbucks th {
  color: #016241;
}
.pfd_contain.pdf_case h2, .pfd_contain.pdf_case th {
  color: #000000;
}
.pfd_contain .prev {
  width: 100%;
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 50px;
}
.pfd_contain .prev img {
  width: 100%;
}
.pfd_contain h2 {
  font-size: 40px;
  border-bottom: 2px solid #606887;
  padding-bottom: 10px;
}
.pfd_contain table {
  width: 50%;
}
.pfd_contain table tbody {
  width: 100%;
}
.pfd_contain table tbody tr {
  width: 45%;
}
.pfd_contain table tbody tr th {
  float: left;
  padding: 10px 0;
}
.pfd_contain table tbody tr td {
  float: right;
  padding: 10px 0;
}
.pfd_contain table tbody tr td span {
  padding: 7px 10px 5px 10px;
  border-radius: 10px;
  background: #016241;
  color: white;
  font-size: 15px;
  font-weight: lighter;
}